:root {
  --background: 188.6 22.6% 6.1%;
  --foreground: 180 1.7% 76.5%;
  --card: 188.6 22.6% 6.1%;
  --card-foreground: 180 1.7% 76.5%;
  --muted: 0 0% 8.5%;
  --muted-foreground: 0 0% 55%;
  --primary: 180 1.7% 76.5%;
  --secondary: 0 0% 94.9% / 5%;
  --accent: 0 0% 14.5%;
  --border: 0 0% 55%;
  --radius: 0.75rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 55%) hsl(0, 0%, 8.5%);
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: hsl(188.6, 22.6%, 6.1%);
  color: hsl(180, 1.7%, 76.5%);
  background-image: url('../images/bg.webp');
  background-repeat: repeat;
  min-height: 100svh;
}

@view-transition {
  navigation: auto;
}
